html {
    font-family: sans-serif;
}

body {
    margin: 0;
}

header {
    padding: 2rem;
    background-color: #1696ff;
}

footer {
    margin-top: 1rem;
    padding: 1rem;
    background-color: #1696ff;
}

.max-width {
    margin: 0 auto;
    padding: 0 1rem;
    max-width: 1280px;
    box-sizing: border-box;
}

.property {
    padding: 0.125rem 0.25rem;
    font-family: serif;
    background-color: #d4ecff;
}

section {
    display: grid;
    grid-gap: 2rem;
    grid-template-columns: 1fr 300px;
}

section > div {
    background-color: #f1f1f1;
}

.description {
    padding: 1rem;
}

.description h3 {
    margin-top: 0;
}

.example {
    display: grid;
    grid-gap: 0.5rem;
    padding: 0.5rem;
    height: 300px;
    box-sizing: border-box;
}

.example > div {
    width: 100%;
    background-color: gray;
}

.grid-column {
    grid-template-columns: auto auto auto;
}

.grid-column div:first-of-type {
    grid-column: 2;
    background-color: #1696ff;
}